.promo__image {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .promo__image {
    margin-top: -80px;
  }
}

@media screen and (min-width: 1440px) {
  .promo__image {
    margin: 0;
    grid-row: span 3;
    justify-content: flex-start;
    margin-left: -165px;
  }
}

