.promo__link {
  padding: 10px 20px;
  text-decoration: none;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .promo__link {
    width: max-content;
    padding: 14px 26px;
    margin-left: 90px;
    grid-row-start: 3;
  }
}

@media screen and (min-width: 1440px) {
  .promo__link {
    margin-left: 80px;
  }
}
