.promo__link {
  padding: 10px 20px;
  text-decoration: none;
  text-align: center;
  margin: 0 20px;
}

@media screen and (min-width: 768px) {
  .promo__link {
    width: max-content;
    padding: 14px 26px;
    margin-left: 120px;
  }
}
