.promo__title {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: inherit;
}

@media screen and (min-width: 768px) {
  .promo__title {
    align-items: flex-start;
    margin-bottom: 40px;
    margin-left: 90px;
  }
}

@media screen and (min-width: 1440px) {
  .promo__title {
    margin-bottom: 0;
    margin-left: 80px;
    align-self: flex-end;
  }
}
