.logo--text {
  --logo-width: 101px;
}

@media screen and (min-width: 768px) {
  .logo--text {
    --logo-width: 101px;
  }
}

@media screen and (min-width: 1440px) {
  .logo--text {
    --logo-width: 118px;
  }
}
