.logo--image {
  --logo-width: 33px;
}

@media screen and (min-width: 768px) {
  .logo--image {
    // width: 60px;
    --logo-width: 60px;
  }
}

@media screen and (min-width: 1440px) {
  .logo--image {
    // width: 70px;
    --logo-width: 70px;
  }
}
