.features__list {
  color: var(--decor-color);
  font-family: var(--secondary-font);
  font-size: 14px;
  line-height: 18px;
  row-gap: 20px;
}

@media screen and (min-width: 768px) {
  .features__list {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 137px;
    row-gap: 37px;
    counter-reset: item-no;
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .features__list {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 95px;
  }
}
