.page {
  height: 100%;
  font-family: var(--primary-font);
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 20px;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
}
